<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Chef Annie</h2>
                <hr class="light">
                <p class="text-faded">Educated at the CIA, I have been cooking for private clients for over a decade.  
                My specialty is plant-forward cuisine, using nearly 100% organic produce and products, humanely-raised meats, and wild
                seafood.  My passion is combining taste, art and philosophy, evoking sensual experiences without compromising health
                and nutrients, as well as feeding indivdiausl and families healthy everyday fare.  My client list includes a famous
                Hollywood writer/director, a billionaire winemaker, the former President of the NCAA, a member of the Rockefeller family, 
                as well as my children and local families.  I've trained under Tom Brady and Giselle Bundchen's chef, and cooked at Bastyr 
                Naturopathic Medical School learning to use food as medicine.  My work ranges from high-end, thought-provoking parties 
                to specialty diets and family-friendly sustenance.  Enjoy!</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Chef Annie</a>
            </div>
        </div>
    </div>
</section>
