<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Classes and Client Appreciation Gatherings</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
            <h3>Classes</h3>
                <p>Intimate classes offered at my home in Kirkland or studio in Bellevue </p>
                <p>Scheduled on a monthly basis</p>
                <p>Check back in for themes or <a href="#contact">Contact Me</a></p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
            <h3>Client Appreciation Gatherings</h3>
                <p>Every couple months, I love to invite clients over for entertainment, connection, food and wine, knowledge, and fun. 
                Held in lovely spaces including my herb and tea garden (weather permitting), the only requirement is to come prepared
                to relax and enjoy and donate a bottle of wine to appreciate together.  Clients will also be invited over to join themed
                photo shoots and take home selections from my summer garden's bounty.
                </p>
                <p>By email invitation only, first come, first serve!</p>
            </div>
            
        </div>
    </div>
</section>
