<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to engage my services? That's great! Give me a call or send me an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
<div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div id="successmessage" style="display: none">
                    <h3>Message Sent!</h3>
                </div>
                <form id="contactform" action="{{site.contactendpoint}}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                        <small id="emailHelp" class="form-text text-muted">Please enter your name.</small>
                      </div>
                     <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="message">Request Description</label>
                        <textarea class="form-control" id="message" rows=3></textarea>
                      </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                 </form>
            </div>
        </div>
    </div>
</section>
