
<section id="givingback" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Giving Back</h2>
                <hr class="light">
              <h3>The Joy of Generosity</h3>
                <p class="text-faded">As much as the generous people and community of the Greater Seattle Area have blessed me, 
              I enjoy giving back to them.  I have served as volunteer executive chef to several outreach programs, helping the 
              underserved such as homeless, mentally ill and people struggling with food and substance addictions.  Seattle Union
              Gospel Mission, Montana Meth Project, Goodwill, Jubilee Reach, Congregations for the Homeless and Cambodian University
              Scholarship Program which enables bright, poor, rural Cambodian students to attend and graduate high school, vocational
              and universtity programs in Cambodia will receive a minimum of 5% proceeds.</p>
            </div>
        </div>
    </div>
</section>
